
@{
    ViewData["Title"] = "DemoTransient";
}

<h1>DemoTransient</h1>

<h2>Transient 1: @ViewBag.Service1</h2>
<h2>Transient 2: @ViewBag.Service2</h2>
<h2>Scoped 3: @ViewBag.Service3</h2>
<h2>Scoped 4: @ViewBag.Service4</h2>
<h2>SingleTon 5: @ViewBag.Service5</h2>

